*
{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
body>div
{
	width: 21.0cm;
	/*height: 29.7cm;*/
	padding: 16px 20px;
}
body>div>table,body>div>table>thead>tr>td,body>div>table>tbody>tr>td,body>div>table>tfoot>tr>td
{
	padding: 0;
	margin: 0;
	border: 0;
}
body>div.header_each_page>header,body>div.footer_each_page>footer
{
	position: absolute;
}
@media print
{
	body>div.header_each_page>header,body>div.footer_each_page>footer
	{
		position: fixed;
	}
}
body>div.header_each_page>header,body>div.footer_each_page>footer
{
	top: 16px;
	width: calc(21cm - 2*20px);
}
body>div.header_each_page>table>tbody>tr>td>main>*:nth-child(1),body>div.footer_each_page>table>tbody>tr>td>main>*:nth-child(1)
{
	margin-top: 0;
}
header br
{
	clear: left;
}
img#logo
{
	float: left;
	width: 160px;
	margin-right: 10px;
	margin-bottom: 16px;
}
h1
{
	font-size: 56px;
	margin: 10px auto;
}
h3
{
	font-size: 32px;
	margin: 8px auto;
}
h4
{
	font-size: 28px;
	margin: 8px auto;
}
article
{
	margin: 16px auto;
}
article p
{
	font-size: 24px;
	margin: 10px auto;
}
table
{
	width: 100%;
	border-collapse: collapse;
	margin: 12px 0; 
}
table td,table th
{
	border: 1px solid black;
}
table th
{
	font-size: 28px;
}
table td
{
	font-size: 24px;
	line-height: var(--table-line-width);
	padding: 6px 8px;
}
[class^='cont']
{
	float: left;
	margin: 0;
}
.cont2
{
	width: 50%;
}