@keyframes move_lr
{
	0%	{transform: translate(100%,0);}
	40%	{transform: translate(0,0);}
	60%	{transform: translate(0,0);}
	100%{transform: translate(-100%,0);}
}
@keyframes move_rl
{
	0%	{transform: translate(-100%,0);}
	40%	{transform: translate(0,0);}
	60%	{transform: translate(0,0);}
	100%{transform: translate(100%,0);}
}
@keyframes move_tb
{
	0%	{transform: translate(0,100%);}
	40%	{transform: translate(0,0);}
	60%	{transform: translate(0,0);}
	100%{transform: translate(0,-100%);}
}
@keyframes move_bt
{
	0%	{transform: translate(0,-100%);}
	40%	{transform: translate(0,0);}
	60%	{transform: translate(0,0);}
	100%{transform: translate(0,100%);}
}

@keyframes rotate_y_half
{
	0%	{transform: rotateY(0deg);}
	50% {transform: rotateY(90deg);}
	100%{transform: rotateY(0deg);}
}
@keyframes rotate_y_full
{
	0%	{transform: rotateY(0deg);}
	100%{transform: rotateY(360deg);}
}
@keyframes rotate_x_half
{
	0%	{transform: rotateX(0deg);}
	50% {transform: rotateX(90deg);}
	100%{transform: rotateX(0deg);}
}
@keyframes rotate_x_full
{
	0%	{transform: rotateX(0deg);}
	100%{transform: rotateX(360deg);}
}