*
{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
	overflow-wrap: break-word;
	color: var(--main-color-2);
	background-color: var(--main-color);
	text-align: left;
	border-collapse: collapse;
}
html,iframe
{
	overflow-x: hidden;
}

header,footer,header *,footer *
{
	background-color: var(--main-color-2);
	color: var(--main-color);
}
header h1,header h2,header h3,header h4
{
	text-align: center;
	text-shadow: black 1vw 1vw 2.5vw;
}
footer
{
	padding-bottom: 1%;
	margin-top: 1% !important;
}
footer *
{
	text-decoration: none;
	font-style: normal;
}

article>p
{
	margin: 0.5em 0;
}

ol,ul
{
	padding-left: 40px;
}

big
{
	font-size: 1.25em;
}

hr
{
	border: 0.005vw solid;
	width: 100%;
}

@media(max-width: 319px)/*xs*/
{
	h1
	{
		font-size: 28px;
		font-weight: bolder;
		padding: 8px 6px;
	}
	h2
	{
		font-size: 24px;
		padding: 6px 4px;
	}
	h3
	{
		font-size: 22px;
		padding: 4px 4px;
	}
	h4
	{
		font-size: 20px;
		padding: 4px 3px;
	}
	*
	{
		font-size: 14px;
	}
	footer big
	{
		font-size: 18px;
	}
}
@media(min-width: 320px) and (max-width: 575px)/*sm*/
{
	h1
	{
		font-size: 32px;
		font-weight: 700;
		padding: 6px 6px;
	}
	h2
	{
		font-size: 28px;
		padding: 4px 4px;
	}
	h3
	{
		font-size: 24px;
		padding: 4px 6px;
	}
	h4
	{
		font-size: 20px;
		padding: 4px 4px;
	}
	*
	{
		font-size: 15px;
	}
	footer big
	{
		font-size: 22px;
	}
}
@media(min-width: 576px) and (max-width: 767px)/*md*/
{
	h1
	{
		font-size: 42px;
		font-weight: 700;
		padding: 2% 2%;
	}
	h2
	{
		font-size: 36px;
		padding: 1.6% 1.6%;
	}
	h3
	{
		font-size: 30px;
		padding: 1.2% 1.2%;
	}
	h4
	{
		font-size: 26px;
		padding: 1% 1%;
	}
	*
	{
		font-size: 16px;
	}
	footer big
	{
		font-size: 26px;
	}
}
@media(min-width: 768px) and (max-width: 991px)/*lg*/
{
	h1
	{
		font-size: 46px;
		font-weight: 700;
		padding: 1.5%;
	}
	h2
	{
		font-size: 42px;
		padding: 1.3%;
	}
	h3
	{
		font-size: 30px;
		padding: 1.2%;
	}
	h4
	{
		font-size: 24px;
		padding: 1%;
	}
	*
	{
		font-size: 16px;
	}
	footer big
	{
		font-size: 24px;
	}
}
@media(min-width: 992px) and (max-width: 1199px)/*xl*/
{
	h1
	{
		font-size: 5.2vw;
		font-weight: 700;
		padding: 1.8%;
	}
	h2
	{
		font-size: 4.6vw;
		padding: 1.6%;
	}
	h3
	{
		font-size: 3.8vw;
		padding: 1.4%;
	}
	h4
	{
		font-size: 2.4vw;
		padding: 1.2%;
	}
	*
	{
		font-size: 16px;
	}
	footer big
	{
		font-size: 24px;
	}
}
@media(min-width: 1200px)/*xxl*/
{
	h1
	{
		font-size: 5vw;
		font-weight: 700;
		padding: 1.8%;
	}
	h2
	{
		font-size: 4.4vw;
		padding: 1.6%;
	}
	h3
	{
		font-size: 3.4vw;
		padding: 1.5%;
	}
	h4
	{
		font-size: 2vw;
		padding: 1.5%;
	}
	*
	{
		font-size: 1.28vw;
	}
	footer big
	{
		font-size: 1.72vw;
	}
}












.index-page {
    text-decoration: none;
}
.index-page * {
    background-color: revert;
}
.index-page>a {
	display: inline-block;
    text-decoration: none;
    padding: 2%;
}
.index-page>a:hover {
    text-decoration: underline;
}