button
{
	border-style: solid;
	border-color: var(--main-color-2);
	background-color: var(--main-color-2);
}
button>span
{
	background-color: var(--main-color-2);
	color: var(--main-color);
}

button.button_visibility_control[data-button-status='visible']
{
	background-color: var(--main-color);
}
button.button_visibility_control[data-button-status='visible']>span
{
	background-color: var(--main-color);
	color: var(--main-color-2);
}

@media(max-width: 319px)/*xs*/
{
	button
	{
		padding: 4px 0;
		border-width: 1px;
		border-radius: 5px;
	}
	button>span
	{
		font-size: 1.2em;
		font-weight: bold;
	}
}
@media(min-width: 320px) and (max-width: 575px)/*sm*/
{
	button
	{
		padding: 4px 0;
		border-width: 1px;
		border-radius: 5px;
	}
	button>span
	{
		font-size: 1.2em;
		font-weight: bold;
	}
}
@media(min-width: 576px) and (max-width: 767px)/*md*/
{
	button
	{
		padding: 3px 0;
	}
}
@media(min-width: 768px) and (max-width: 991px)/*lg*/
{
	button
	{
		padding: 3px 0;
	}
}
@media(min-width: 992px) and (max-width: 1199px)/*xl*/
{
	button
	{
		padding: 4px 0;
	}
}
@media(min-width: 1200px)/*xxl*/
{
	button
	{
		padding: 1% 0;
	}
}