.nav_one_active_light .doc_page,.nav_one_active_light .frame_page,.nav_one_active_light .root_home
{
	padding-left: 4%;
	border: 0.08vw solid var(--main-color-4);
}
.nav_heading
{
	font-weight: bold;
	color: var(--main-color);
	padding: 1.2%;
}
.nav_one_active_light .root_home
{
	font-weight: bold;
}
.empty_line
{
	visibility: hidden;
}


@media(max-width: 319px)/*xs*/
{
	.nav_one_active_light .doc_page,.nav_one_active_light  .frame_page
	{
		border-width: 0.2vw;
	}
}
@media(min-width: 320px) and (max-width: 575px)/*sm*/
{
	.nav_one_active_light .doc_page,.nav_one_active_light  .frame_page
	{
		border-width: 0.18vw;
	}
}
@media(min-width: 576px) and (max-width: 767px)/*md*/
{
	
}
@media(min-width: 768px) and (max-width: 991px)/*lg*/
{
	
}
@media(min-width: 992px) and (max-width: 1199px)/*xl*/
{
	
}
@media(min-width: 1200px)/*xxl*/
{
	
}