.mytable {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border: 1px solid #ddd;
  }
  
  .mytable th, td {
	text-align: left;
	padding: 10px !important;
  }
  
  .mytable tr:nth-child(even) {
	background-color: #f2f2f2 !important;
  }
  
.nav_one_active_light .doc_page,.nav_one_active_light .frame_page,.nav_one_active_light .web_link,.nav_one_active_light .root_home
{
	padding-left: 8%;
	border: 0.08vw solid var(--main-color-4);
}
.nav_heading
{
	font-weight: bold;
	color: var(--main-color);
	padding: 1.2%;
}
.nav_one_active_light .root_home,.hit_counter big
{
	font-weight: bold;
}
.empty_line
{
	visibility: hidden;
}
.hit_counter
{
	text-align: center;
}
.doc_page
{
	cursor: pointer;
}
.doc_page div
{
	padding: 2px;
}
#contents_page *:not(.ignore-revert, .ignore-revert *,  .notice_board, .notice_board *, .notice, .notice *, .notice_full, .notice_full *),#contents_page
{
	/*margin: initial;*/
	padding: initial;
	text-indent: initial;
	border: initial;
	color: initial;
	font-size: initial;
	font-weight: initial;
	background-color: initial;
	text-decoration: initial;
	max-width: initial;
	line-height: initial;
	height: initial;
}
#contents_page
{
	padding: 2%;
}


@media(max-width: 319px)/*xs*/
{
	.nav_one_active_light .doc_page,.nav_one_active_light .frame_page
	{
		border-width: 0.2vw;
	}
}
@media(min-width: 320px) and (max-width: 575px)/*sm*/
{
	.nav_one_active_light .doc_page,.nav_one_active_light  .frame_page
	{
		border-width: 0.18vw;
	}
}
@media(min-width: 576px) and (max-width: 767px)/*md*/
{
	
}
@media(min-width: 768px) and (max-width: 991px)/*lg*/
{
	
}
@media(min-width: 992px) and (max-width: 1199px)/*xl*/
{
	
}
@media(min-width: 1200px)/*xxl*/
{
	
}
