.nav_one_active_light .doc_page,.frame_page
{
	padding-left: 4%;
	border: 0.08vw solid var(--main-color-4);
}
.empty_line
{
	visibility: hidden;
}


@media(max-width: 319px)/*xs*/
{
	
}
@media(min-width: 320px) and (max-width: 575px)/*sm*/
{
	
}
@media(min-width: 576px) and (max-width: 767px)/*md*/
{
	
}
@media(min-width: 768px) and (max-width: 991px)/*lg*/
{
	
}
@media(min-width: 992px) and (max-width: 1199px)/*xl*/
{
	
}
@media(min-width: 1200px)/*xxl*/
{
	
}